@CHARSET "UTF-8";
	
	body{
		margin:0;
		padding:0;
	}

	#header {
		background-color: gray;
		text-align: center;
	}
	
	#nav {
		float: left;
		padding: 5px;
		font-size: 11px;
		text-align: center;
	}
	
	#navigation {
		float: center;
		text-align: center;
		font-weight: bold;
	}
	
	#footer {
		background-color: black;
		text-align: center;
		color: white;
		clear: both;
		
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom:2px;
		height:30px;
		line-height:30px;
	}
