<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Platforma</display-name>
 <context-param>
  <description>Spring poszukuje w tej sciezce plik konfiguracyjny (domyslnie aplicationContext)</description>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/configurationContext.xml</param-value>
 </context-param>
 <!-- 
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml</param-value>
 </context-param>
  -->
 <context-param>
  <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.UPLOADER</param-name>
  <param-value>auto</param-value>
 </context-param>
 <filter>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ImageServices</servlet-name>
  <servlet-class>com.sebastian.platforma.services.ImageServices</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImageServices</servlet-name>
  <url-pattern>*.ximage</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index2.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
